{
  "env": {
    "node": true
  },
  "rules": {
    "quotes": [2, "single"]
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "modules": true,
    "templateStrings": true
  }
}

